/.$SER-mind-map-ryd.drawio.dtmp
/.$SER-mind-map-ryd.drawio.bkp
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/ser_research.iml
/.idea/vcs.xml
